*,html,body
{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body
{
    height: 3000px;
}
header
{

    height: 80px;
    line-height: 100px;
    position: fixed;
    z-index: 1;
    width: 100%;
}

.secondary
{
    background-color: #F27649;
    box-shadow: 0px 0px 17px 0px;
    transition: all 0.5s ease-in;
}

ul
{
    list-style: none;
}

ul li
{
    display:inline-block;
   
}

header nav
{
    float: right;
    margin-top: -10px;
}

.logo img
{
    margin-top: -30px;
   
}

header nav ul li a
{
    padding-right: 30px;
    font-weight: bold;
    color: white;
    transition: all 0.3s ease-in;
}


header nav ul li a:hover
{
    text-decoration: none;
    color: orange;
}

.img1
{
    background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(../images/Slider1.jpg);
    background-size: 100% 100%;
}

.slider, slider ul,.slider ul li
{
    height: 100vh;
    width: 100%;
    color: white;
    text-align: center;
    overflow: hidden;
}

.slider h2
{
    font-weight: bold;
    margin-top: 270px;
}

.slider span
{
    color: #F27649;
    margin-top: 180px;
}

.slider a
{
    padding: 10px 40px;
    margin-right: 10px;
}

.slider a.btn-half
{
    background-color: #C91A52;
    color: white;
    transition: 0.5s ease-in;
}

.slider a.btn-half:hover
{
    background-color:  #E38D1E;
}

.slider a.btn-full
{
    background-color: #F27649;
    color: white;
    transition: 0.5s ease-in;
}


.slider a.btn-full:hover
{
    background-color: #F27649;
}

.img2
{
    background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(../images/Slider2.jpg);
    background-size: 100% 100%;
}

.img3
{
    background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(../images/Slider3.jpg);
    background-size: 100% 100%;
}

.slider i
{
    font-size: 35px;
    margin-right: 10px;
}

.intro-area
{
    position: relative;
    padding: 100px 0px;
    text-align: center;
}

.sub-heading
{
    position: relative;
    margin-bottom: 80px;
}

.sub-heading:before
{
    content:"";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -3%;
    width: 6%;
    height: 1px;
    background-color: #F27649;
    z-index: 1;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
}

.sub-heading:hover:before 
{
    width: 24%;
    margin-left: -12%;
}

.sub-heading:after
{
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -12%;
    width: 24%;
    height: 1px;
    background-color: #e1e1e1;
}

.sub-heading p
{
    color: #818181;
    display: inline-block;
    padding: 0px 0px 20px;
    position: relative;
    line-height: 24px;
    letter-spacing: 0.025em;
}

.intro-block
{
    position: relative;
    background: #f7f7f7;
    margin: 50px 0px 0px;
    text-align: center;
    padding: 70px 25px 40px;
}

.intro-block:hover, .intro-block.active
{
    background: #F27649;
}

.intro-block:hover
{
    transition: .6s ease;
    -webkit-transition: .6s ease;
    -moz-transition: .6s ease;
    -o-transition: .6s ease;
    -ms-transition: .6s ease;
}

.intro-block .intro-icon
{
    position: absolute;
    top: -31px;
    left: 50%;
    margin-left: -31px;
}

.intro-block .fas
{
    width: 63px;
    height: 63px;
    font-size: 30px;
    color: white;
    line-height: 2;
    background: #F27649;
    border-radius: 100%;
    box-shadow: 0px 0px 0px 10px white;
}

.intro-block:hover .fas, .intro-block.active .fas
{
    background: white;
    color: #F27649;
    box-shadow: 0px 0px 0px 10px #e67e22;
}

.intro-block h3
{
    font-size: 18px;
    color: #e67e22;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.intro-block p
{
    color: #505050;
}

.intro-block:hover h3, .intro-block:hover p
{
    color:#f6f6f6;
}

.feature-area
{
    background:linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.8)), url(../images/Slider2.jpg);
    background-position: center;
    background-attachment: fixed;
}

.title h2,p, h3
{
    color: white;
}

.single-feature h3
{
    color: white;
}

.single-feature
{
    position: relative;
    width: 325px;
    float: left;
    padding: 30px 0;
    text-align: center;
    border-right: 1px solid #AE390D;
    border-bottom: 1px solid #AE390D;
    transition: .3s ease;
    -webkit-transition: .3s ease;
    -ms-transition: .3s ease;
    -o-transition: .3s ease;
    -moz-transition: .3s ease;
}

.feature-block:after
{
    content: "";
    display: table;
}

.feature-block:after
{
    clear: both;
}

.feature-icon
{
    display: inline-block;
    margin-bottom: 20px;
}

.single-feature i.fas
{
    border: 2px solid #fff;
    padding: 15px;
    border-radius: 50%;
    font-size: 30px;
    background-color: #F27649;
    color: white;
    width: 64px;
    height: 64px;
    transition: .3s ease;
    -webkit-transition: .3s ease;
    -ms-transition: .3s ease;
    -o-transition: .3s ease;
    -moz-transition: .3s ease;
}

.feature-block:hover .single-feature
{
    border-color: white;
    transition: .3s ease;
    -webkit-transition: .3s ease;
    -ms-transition: .3s ease;
    -o-transition: .3s ease;
    -moz-transition: .3s ease;   
}

.single-feature:hover .featured-icon .fas
{
    border: 2px solid #e67e22;
    background: white;
    color: #e67e22;
}

.single-feature:nth-of-type(even)
{
    border-right: none;
}

.single-feature:nth-last-child(2)
{
    border-bottom: none;
}

.single-feature:last-child
{
    border-bottom: none;
}

.feature-area
{
    padding: 100px 0;
}

.feature-mockup
{
    bottom: 170px;
    position: fixed;
    max-width: 100%;
 
}

.title .sub-heading p
{
    color: white;
}

.more-feature-area .title h2
{
    color:black;
}

.more-feature-area .title .sub-heading p
{
    color: darkgrey;
}

.more-feature-area
{
    padding: 100px 0;
}

.feature-list ul
{
    list-style: none;
}

.feature-list li
{
    position: relative;
    margin-bottom: 30px;
    padding-left: 80px;
}

.feature-list li:hover i
{
    color:white;
    background: #F27649;
    transition: .5s ease;
    -webkit-transition: .5s ease;
    -ms-transition: .5s ease;
    -o-transition: .5s ease;
    -moz-transition: .5s ease;   
}

.feature-icon
{
    position: absolute;
    left:0;
}

.feature-icon i
{
    width: 63px;
    height: 63px;
    text-align: center;
    font-size: 30px;
    background: white;
    color: #F27649;
    border-radius: 50%;
    border: 2px solid #F27649;
    line-height: 63px;
}

.feature-details h3
{
    color: #F27649;
    font-weight: 700;
    text-transform: uppercase;
}

.feature-details p
{
    color: #616161;
    font-weight: 200;
}

.more-feature-area img
{
    margin-left: 70px;
    margin-top: 150px;
}

.testimonials
{
    background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(../images/Slider3.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-top: 120px;
    padding-bottom: 120px;
    color: white;
}

.testimonials .carousel-indicators
{
    bottom: -60px;
}

.testimonials .sub-heading p
{
    color: white;
 
}

.carousel-inner img
{
    width: 150px;
    height: 150x;
    border-radius: 100%;
    border: 2px solid #F27649;
    padding: 5px;
}

.testimonials .carousel-indicators li.active
{
    background-color: #F27649;
}

.testimonialtxtsize{
    font-size: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.team-area
{
    padding: 100px 0px;
}

.team-area .sub-heading
{
    margin-bottom: 100px;
}

.team-man
{
    position: absolute;
    left:50%;
    margin-left: -50px;
    top:-50px;
    overflow: hidden;
    min-height: 100px;
    height: 100px;
    width: 100px;
    min-width: 100px;
    border: 10px solid #F27649;
    border-radius: 50%;
}

.team-man img
{   
    width: 100%;
    height: 100%;
    min-height: 100%;
    min-width: 100%;
    border-radius: 50%;
}

.team-block h3
{
    color: #F27649;
    font-size:20px;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 70px;
    margin-bottom: 5px;
}

.fifth
{
    margin-top: 45%;
    width: 100%;
}

.team-block span
{
    color: #6c6c6c;
    font-size: 16px;
    text-transform: capitalize;
    letter-spacing: 0.025em;
}

.team-block p
{
    color: dimgray;
    font-size: 14px;
    padding: 25px 15px;
}

.team-two
{
    margin-top: 40%;
    margin-left: 25%;   
}

.team-block p
{
    color: dimgrey;
    font-size: 14px;
    padding: 25px 15px;
    line-height: 24px;
}

.team-description
{
    background-color: white;
}

.team-social-network
{
    text-align: center;
    padding-bottom: 15px;
}

.team-social-network a
{
    margin: 0 6px;
}

.team-social-network i
{
    height: 40px;
    width: 40px;
    background: white;
    text-align: center;
    color: #F27649;
    border-radius: 50%;
    border: 3px solid #F27649;
    padding-top: 10px;
}

.team-block
{
    text-align: center;
    position: relative;
}

.team-block:hover .team-description
{
    background-color: #F27649;
    color: white;
    transition: .3s ease;
    -webkit-transition: .3s ease;
    -ms-transition: .3s ease;
    -o-transition: .3s ease;
    -moz-transition: .3s ease;
}

.team-block:hover .team-title h3,
.team-block:hover .team-title span
{
    color:white;
    transition: .4s ease;
    -webkit-transition: .4s ease;
    -ms-transition: .4s ease;
    -o-transition: .4s ease;
    -moz-transition: .4s ease;
}

.team-block:hover .team-description p
{
    color: #f9f9f9;
    transition: .5s ease;
    -webkit-transition: .5s ease;
    -ms-transition: .5s ease;
    -o-transition: .5s ease;
    -moz-transition: .5s ease;
}

.team-block:hover .team-social-network i
{
    border-color:white;
    background: #F27649;
    color: white;
    transition: .4s ease;
}

.download h2
{
    color: white;
}

.download .sub-heading p
{
    color: white;
}

.download
{
    background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(../images/Slider1.jpg);
    background-attachment: fixed;
}

.download .default-btn
{
    background: transparent;
    border: 1px solid white;
    color: white;
    font-size: 20px;
    padding: 8px 40px;
    margin: 0 12px;
}

.download .default-btn:hover
{
    background: white;
    color: #F27649;
    transition: .5s ease-in;
    -webkit-transition: .5s ease-in;
    -ms-transition: .5s ease-in;
    -o-transition: .5s ease-in;
    -moz-transition: .5s ease-in;
}

.download .fab
{
    margin-right: 10px;
}

.downloadnow
{
    padding: 100px 0px;
}

.contact-area
{
    padding: 100px 0;
}

.divider
{
    border-right: 1px solid #d9d9d9;
}

.contact-area h3
{
    text-transform: uppercase;
    margin-bottom: 18px;
}

.contact-area h4
{
    color: #3a3a3a;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 4px;
    letter-spacing: 0.025em;
}

.contact-area span
{
    display: block;
    color: #3a3a3a;
    font-size: 12px;
    line-height: normal;
    letter-spacing: 0.025em;
}

.contact-area ul li
{
    overflow: hidden;
    margin-bottom: 25px;
}

.contact-area ul li:last-child
{
    margin-bottom: 0;
}

.contact-area ul li .fas
{
    float: left;
    width: 25px;
    color: #F27649;
    font-size: 50px;
    margin-right: 20px;
}

.contact-address ul li .address-phone
{
    float: left;
    width: 180px;
    padding-left: 25px;
}

.contact-block
{
    padding-left: 25px;
}

.contact-area .form-control, .contact-area textarea
{
    font-family: 'Roboto' ,sans-serif;
    background: #f8fdff;
    border: 1px solid #a5d3eb;
    padding: 10px 12px;
    color: #bdbdbd;
    height: 45px;
    font-weight: 400;
    border-radius: 0;
}

.contact-area .form-group
{
    margin-bottom: 30px;
}
.contact-area textarea
{
    min-height: 115px;
}

.contact-area .default-btn
{
    padding: 10px;
}

.to-top 
{
    background: white;
    position: fixed;
    bottom: 16px;
    right:32px;
    width:50px;
    height:50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:32px;
    color:#F27649;
    text-decoration: none;
    opacity:0;
    pointer-events: none;
    transition: all .5s;
  }
  
  .to-top.active 
  {
    bottom:32px;
    pointer-events: auto;
    opacity:1;

  }

  .funfacts
  {
      padding: 105px 0;
      margin: 0 auto;
      background-color: black;
      background-size: cover;
      background-position: center;
      height: 80vh;
      background-repeat: no-repeat;

  
  }
  
  .single-fun
  {
  position: relative  ;
  margin-left: initial;
  }
  
  .single-fun img
  {
      max-width: 59px;
      margin-top: 30px;
      margin-left: 50px;
  }
  
  .single-fun p
  {
      align-items: center;
      color: black;
      display: inline-flex;
      font-size: 22px;
      font-weight: 700;
      line-height: 30px;
      margin-bottom: 0;
      text-transform: uppercase;
      position: relative;
      margin-left: 40px;
  }
  
  .single-fun p span
  {
      font-family: "Roboto", sans-serif;
      font-size: 70px;
      font-weight: 700;
      margin-right: 20px;
  }

  .count-area .container .row .title h2
  {
    color: black;
  }
  
  .carousel-inner p
  {
      font-size: 40px;
      font-style: italic;
      margin-bottom: 40px;
  }

  .funfacts
  {
    padding: 100px 0;
    margin-bottom: 50px;
    background-color: white;
    background-size: cover;
    background-position: center;
    height: 30vh;
    background-repeat: no-repeat;
    

  }

  .single-fun
  {
    position: relative;
    text-align: center;
    margin-left: -200px;
  
  }
  .single-fun p
  {
      color: #F27649; 
  }  

  .single-fun img
  {
    width: 65px;
    height: 65px;
    font-size: 30px;
    color: white;
    line-height: 2;
    background: #F27649;
    border-radius: 100%;
    box-shadow: 0px 0px 0px 10px white;
  }
  @media screen and (min-width: 320px){
      .team-block{
          position: relative;
      }
      .txtsize{
        font-size: 25px;
      }
      .feature-mockup {
        padding-top: 10 px;
        position: relative;
        max-width: 100%;
        bottom: -100px;
        max-width: 400px;
        margin: 0 auto;
      }
  }